body{
  margin: 0;
  text-align: center;
  font-family: helvetica ,verdana, serif;
  background-color: #effcef;
}

h1 {
  font-size: 300%;
  width: 55%;
  margin: 0 auto 0 auto;
}
.top-container {
  position: relative;
  background-color: #effcef;
  padding-top: 100px;
}
.mid-container {
  position: relative;
  background-color: #ccedd2;
  padding-top: 100px;
}
.bot-container {
  position: relative;
  background-color: #655c56;
  padding-top: 100px;
}
#description{
  margin: 0;
  text-align: center;
}
.cloud{
  position: absolute;
  left: 60%;
}

.mountain{

}

.icon{
  border-radius: 100%;
}
